* {
	box-sizing: border-box;
  }

body{
	font-size: 20px;
	font-family: sans-serif;
	color: #333;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}
.question{
	font-weight: 600;
	margin-top: 5px;
	margin-bottom: 7px;
}
.answers {
    margin-bottom: 20px;
}

footer {
	text-align: center;
	font-size: small;
	color: rgb(78, 75, 75);
	border-top: 10px;
	border-right: 30px;
}

button{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-top: 20px;
}

button:hover{
	background-color: #3a8;
}



@media (max-width: 690px) {
	.btn {
	  font-size: 1rem;
	  margin: 16px 0px 0px 0px;
	  padding: 10px 15px;
	}
}